body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #ffffff;
}

ul {
    list-style-type: none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 0;
}

a {
    text-decoration: none;
}

img {
    display: block;
}

/* HEADER */
.header {
    border-bottom: 1px solid #e7e9fc;
}

.header .container {
    display: flex;
    align-items: center;
}

.container {
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.section {
    padding-top: 120px;
    padding-bottom: 120px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    text-decoration: none;
    padding-top: 24px;
    padding-bottom: 24px;
    margin-right: 76px;
}

.logo span {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2e2f42;
}

.nav {
    display: flex;
    align-items: center;
}

.nav-list {
    display: flex;
    gap: 40px;
}

.nav-list-unit {

    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;

    padding-top: 24px;
    padding-bottom: 24px;

}

.nav-list-unit:hover,
.nav-list-unit:focus {
    color: #404bbf;
}

.address {
    font-style: normal;
    margin-left: auto;
}

.address-list {
    display: flex;
    gap: 40px;
}

.address-list-unit {

    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;

}

.address-list-unit:hover,
.address-list-unit:focus {
    color: #404bbf
}



.address-list-number:hover,
.address-list-number:focus {
    color: #404bbf
}

/* MAIN */
.hero-page {
    background-color: #2e2f42;
    padding-top: 188px;
    padding-bottom: 188px;
}

.hero-title {

    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    max-width: 496px;
    margin: 0 auto;
    margin-bottom: 48px;


}

.button {
    min-width: 169px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: white;
    background: #4d5ae5;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    border-radius: 4px;
    padding: 16px 32px;
    border: none;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}

.button:hover,
.button:focus {
    background-color: #404bbf;
}

.takticks {}

.takticks-list {
    display: flex;
    gap: 24px;

}

.takticks-list-item {
    width calc: ((100% - 3 * 24px) / 4);
}

.takticks-list-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-top: 120px;
    margin-bottom: 8px;
}

.takticks-list-text {

    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;


}

.ourteam {
    background-color: #f4f4fd;
}

.ourteam-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
    margin-bottom: 72px;

}

.our-team-list {
    display: flex;
    gap: 24px;
}

.ourteam-list-item {
    background-color: #ffffff;
    flex-basis: calc((100% - 72px) / 4);
    border-radius: 0 0 4px 4px;
}

.ourteam-bottom {
    padding: 32px 0px;
}

.ourteam-list-item-photo {}

.ourteam-list-item-name {

    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 8px;
    text-align: center;
}

.ourteam-list-item-workposition {

    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
    text-align: center;
}

.our-portfolio {}

.our-portfolio-title {

    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.our-portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 48px 24px;
}

.our-portfolio-list-item {
    flex-basis: calc((100% - 48px) / 3);
}

.our-portfolio-bottom {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.our-portfolio-list-item-picture {}

.our-portfolio-list-item-option {

    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.our-portfolio-list-item-function {

    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

/* footer */
.footer {
    background-color: #2e2f42;
    padding-top: 100px;
    padding-bottom: 100px;
}



.logo-footer {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    display: inline-block;
    margin-bottom: 16px;
}

.logo-footer span {
    color: #f4f4fd;
}

.footer-text {

    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
}